{% extends 'base.html' %}

{% block head %}
<h1>Inventory management system</h1>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Edit product's information</h1>

    <div class="form">
        <form action="/edit/{{product.id}}" method="POST">
            <label for="name">Product Name:</label>
            <input type="text" name="name" id="name" value="{{product.name}}"><br>
            <label for="description">Product Description:</label>
            <input type="text" name="description" id="description" value="{{product.description}}"><br>
            <label for="type">Product Type:</label>
            <select id="type" name="type" value="{{product.type}}">
                <option value="car">Car</option>
                <option value="truck">Truck</option>
                <option value="aircraft">Aircraft</option>
                <option value="watercraft">Watercraft</option>
                <option value="train">Train</option>
            </select><br>
            <label for="price">Product Price:</label>
            <input type="text" name="price" id="price" value="{{product.price}}"><br>
            <label for="quantity">Product Quantity:</label>
            <input type="text" name="quantity" id="quantity" value="{{product.quantity}}"><br>
            <input type="submit" value="Update">
        </form>
    </div>

</div>
{% endblock %}