{% extends 'base.html' %}

{% block head %}
<h1>Inventory management system</h1>
{% endblock %}

{% block body %}
<div class="content">
    <strong>The quantity of</strong>
    <strong>{{product.name}} (id: {{product.id}})</strong>
    <strong>is insufficient to complete this shipment.</strong><br>
    <strong>Requested quantity: {{requested_quantity}}</strong><br>
    <strong>Items in stocks: {{quantity_in_stock}}</strong>

    <div class="form">
        <form action="/to_main">
            <input type="submit" value="Go back">
        </form>
    </div>

</div>
{% endblock %}